<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Products</title>
</head>

<body>
<h1>Product System</h1>
<h1>Product Details</h1>
	<table border="1">
		<tr>
			<th>Product ID</th>
			<th>Product Name</th>
			<th>Product Price</th>
			<th>Quantity Available</th>
			<th>Description</th>
			<th>Type Id</th>	
			<th>Type Name</th>
			<th>Tax Amount</th>
		</tr>
		<tr th:each="product : ${productsDetails}">
			<td th:text="${product.getProd().prodId}"></td>
			<td th:text="${product.getProd().prodName}"></td>
			<td th:text="${product.getProd().price}"></td>
			<td th:text="${product.getProd().quantityAvailable}"></td>
			<td th:text="${product.getProd().description}"></td>
			<td th:text="${product.getProd().typeId}"></td>
			<td th:text="${product.getType().typeName}"></td>
			<td th:text="${product.getType().taxPercentage}"></td>
		</tr>
	</table>
<br><br>
<a href="./menu">Go To Main Page</a>
</body>
</html>
